.Card {
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  margin-top: 150px;
}

.List {
  display: flex;
  align-items: flex-start;
  width: 220px;
  margin-top: 0%;
  margin-left: 50px;
}
.DivP {
  display: flex;
  flex-direction: row;
}
